<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        #back-button {
            position: absolute;
            top: 10px;
            left: 10px;
        }
    </style>
    <title>Chat Application</title>
</head>
<body>
    <form action="{{ url_for('chat.go_back_from_chat') }}" method="get">
        <button type="submit">BACK</button>
    </form>
    <h1>Chat Application</h1>
    <div id="chat-window">
        {% if message %}
        <p>{{ message.message_body }}</p>
        {% endif %}
    </div>
    <form method="POST">
        <input type="text" name="message" placeholder="Type your message...">
        <button type="submit">Send</button>
    </form>
{% block content %}
{% for d in messages %}
  <div><p>{{ d.name }}:<br>{{ d.message_body }}
      <br>{{ d.send_time}}
  </p></div>
{% endfor %}
{% endblock %}
</body>
</html>
